@font-face {
    font-family: 'Montserrat-Black';
    src: url('../fonts/montserrat/Montserrat-Black.otf') format('opentype');
}
@font-face {
    font-family: 'Montserrat-Bold';
    src: url('../fonts/montserrat/Montserrat-Bold.otf') format('opentype');
}
@font-face {
    font-family: 'Montserrat-Light';
    src: url('../fonts/montserrat/Montserrat-Light.otf') format('opentype');
}
@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/montserrat/Montserrat-Regular.otf') format('opentype');
}
@font-face {
    font-family: 'Montserrat-Thin';
    src: url('../fonts/montserrat/Montserrat-Thin.otf') format('opentype');
}