body{
    font-family: 'Montserrat';
    height: 100%;
}

.container{
    padding-top: 3em;
    padding-bottom: 5em;
}

.sub-container{
    width: 50%;
    margin: 0 auto;
}

.sub-container h1{
    text-align: center;
    color: blue;
    font-family: 'Montserrat-Bold';
    font-size: 3.5em;
    opacity: 1.0;
}

.sub-container h3{
    text-align: center;
    color: #3d3d3d;
    font-size: 1.5em;
}

.card{
    margin-top: 40px;
    -moz-box-shadow: 0 0 4px #ccc;
    -webkit-box-shadow: 0 0 4px #ccc;
    box-shadow: 0 0 4px #ccc;
    background-color: white;
    width: 60%;
}

.card-header{
    background-color: blue;
    color: white;
    padding: 10px;
}

.card-body{
    padding: 10px;
}

.card-body .row{
    margin-bottom: 15px;
}

#loginBtn, #registrationBtn{
    color:white;
}

a.btn{
    background-color: blue;
    color: white;
    margin-bottom: 7px;
    margin-top: 5px;
}

a.btn:hover{
    background-color: navy;
}

input[type="text"], input[type="email"], input[type="tel"], select, input[type="password"]{
    border: 1px solid navy;
}

.redirect-link a{
    color:blue;
    text-decoration: none;
    font-weight: bold;
}

.redirect-link a:hover{
    color: cornflowerblue;
}
