/* @import url('@assets/css/font.css'); */
body,
html,
.row-offcanvas {
    height: 100%;
}

body{
    background-color: #f5f5f5;
}

.main-container{
    height: 100%;
    overflow: auto;
}

form .row{
    margin-bottom: 10px;
}

/*================== Navigation ===================== */
.top-nav {
    padding-top: 40px;
    padding-bottom: 16px;
    margin: 0px 45px 30px 30px;;
    color: #5d5d5d;
    border-bottom: 3px solid #ccc !important;
    background-color: navy;
    position: fixed;
    top: 0;
    right: 0;
    left: 300px;
    z-index: 999;
}

.top-nav .caption {
    float: left;
    font-size: 30px;
    font-family: Montserrat-Light;
    line-height: 18px;
}

.top-nav .caption-tools {
    float: right;
    font-size: 17px;
    font-family: Montserrat-Light;
}

.top-nav .caption-tools>span {
    padding: 0px 15px;
}

.top-nav .caption-tools span.active {
    color: #FB3BE0;
    border-bottom: 4px solid #FB3BE0;
    padding-bottom: 19px;
}

.top-nav .caption-tools>span:hover {
    cursor: pointer;
    color: #FB3BE0;
    padding-bottom: 19px;
}

.top-nav .caption-action {
    color: #FB3BE0;
    padding-right: 0 !important;
    font-family: 'Montserrat';
}

.top-nav .caption-action:hover {
    color: #737575 !important;
}

.navbar-top {
    padding-left: 30px;
    padding-right: 30px;
}

.wrapper {
    margin: 0;
}

.left-heading {
    font-size: 1.5em;
    margin: 0;
    color: white;
    font-family: 'Montserrat';
}

.left-subheading {
    font-size: 0.70em;
    font-family: 'Montserrat-Light';
    margin: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 3px solid white;
}

.user-credential {
    margin-top: 20px;
}

.user-credential>span {
    display: block;
}

#logout {
    font-family: 'Montserrat-Light';
    font-size: 0.85em;
    color: white;
    margin-top: 10px;
    padding-left: 5px;
}

#logout:hover {
    cursor: pointer;
    color: #c3c3c3;
    margin-top: 5px;
}

.main-nav {
    margin-top: 50px;
    font-family: 'Montserrat-Light';
}

.main-nav>span {
    display: block;
    margin-top: 10px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.main-nav>span:hover {
    cursor: pointer;
}

.main-nav>span>a:hover {
    color: #c3c3c3;
    cursor: pointer;
}

.main-nav>span>a {
    color: white;
    text-decoration: none;
}

.main-nav>span.active {
    background-color: rgba(251, 58, 223, 0.5);
}

.sub-content{
    margin-top: 100px;
    padding-bottom: 30px;
}

.table {
    background-color: white;
    margin-top: 20px;
}

.table th, .table td{
    text-align: center;
}

.logout-container{
    display: block;
	padding-left: 15px;
	padding: 15px;
	position: fixed;
	bottom: 0;
    color: white;
}

#profilePage input[type="text"], input[type="email"], input[type="tel"], select, input[type="password"]{
    background-color: #f5f5f5;
    border: 1px solid #212529;
} */

#profilePage .btn{
    background-color: navy;
    color: white;
    margin-bottom: 7px;
    margin-top: 5px;
}