<template>
    <div class="hello">
        <nav class="navbar navbar-expand-lg navbar-dark">
            <a class="navbar-brand" href="#">HOBBS</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <router-link class="nav-link" href="#" to="index" tag="li" active-class="active"><a class="nav-link">Home</a></router-link>
                    <router-link class="nav-link" to="Profile" tag="li" active-class="active"><a class="nav-link">Profile</a></router-link>
                    <!-- <li class="nav-item active">
                        <router-link class="nav-link" href="#" to="Index">Home</router-link>
                    </li>
                    <li class="nav-item">
                        <router-link class="nav-link" to="Profile">Profile</router-link>
                    </li> -->
                    
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <button class="btn btn-outline-danger my-2 my-sm-0" @click="logout">Logout</button>
                </form>
            </div>
        </nav>
    </div>
</template>

<script>
export default {
  name: 'Header',
  data () {
    return {
      msg: 'Welcome to Your Vue.js App'
    }
  },
  methods: {
      logout(){
          this.$session.clear();
        //   this.$router.push('/login');
        window.location.href = 'login';
      }
  },
  created(){
      if (this.$session.get("userID") == null){
          this.$router.push('/login');
      }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->

<style scoped>
    nav{
        margin-top: -4%;
        background-color: navy;
    }
</style>

<style src="../assets/css/bootstrap.min.css" scoped> </style>