<template>
    <div>
        <navbarHeader></navbarHeader>
        
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="top-action text-right">
                    <button id="adminNewUser" class="btn" @click="addHobby">Add a new Hobby</button>
                </div>
            </div>
        </div>

        <modal v-if="showModal" 
        @close="showModal = false" 
        :showAddDiv="showAddDiv" 
        :showEditDiv="showEditDiv" 
        :showDeleteDiv="showDeleteDiv"
        :modalHeader="modalHeader" 
        @hobbyWasAdded="appendToHobbyList"
        :currentHobbyID="currentHobbyID"
        @hobbyWasDeleted="deleteFromHobbyList"
        @hobbyWasEdited="updateHobbyList"></modal>

        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <table class="table">
                    <thead>
                        <th></th>
                        <th>Hobby</th>
                        <th></th>
                    </thead>
                    <tbody>
                        <tr v-for="(hobby, index) in hobbyList" :key="hobby.name" >
                            <td>{{index + 1}}</td>
                            <td>{{hobby.name}}</td>
                            <td>
                                <button type="button" class="btn btn-primary" @click="editHobby(hobby.id, index)">Edit</button>
                                <button type="button" class="btn btn-danger" @click="deleteHobby(hobby.id, index)">Delete</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div></div>
            
        </div>
        
    </div>
    
</template>

<script>

import Header from "./Header.vue"
import Modal from "./Modal.vue"
export default {
  name: 'Index',
  components: {
      "navbarHeader": Header,
      "modal": Modal,
  },
  data(){
      return {
        showModal: false,
        showAddDiv: true,
        showEditDiv: true,
        showDeleteDiv: true,
        modalHeader: '',
        hobbyList: [],
        currentIndex: 0,
        currentHobbyID: ''
      }
  },
  methods: {
      addHobby(){
          this.showAddDiv = true;
          this.showEditDiv = false;
          this.showDeleteDiv = false;
          this.modalHeader = "Add New Hobby";
          this.showModal = true;
      },
      editHobby(hobbyID, index){
        this.showAddDiv = false;
        this.showEditDiv = true;
        this.showDeleteDiv = false;
        this.modalHeader = "Edit Hobby";
        this.showModal = true;
        this.currentHobbyID=  hobbyID;
        this.currentIndex = index;
      },
      deleteHobby(hobbyID, index){
        this.showAddDiv = false;
        this.showEditDiv = false;
        this.showDeleteDiv = true;
        this.modalHeader = "Delete Hobby";
        this.showModal = true;
        this.currentHobbyID=  hobbyID;
        this.currentIndex = index;
      },
      appendToHobbyList($event){
          this.hobbyList.push($event);
      },
      deleteFromHobbyList(){
          this.hobbyList.splice(this.currentIndex, 1);
      },
      updateHobbyList($event){
          this.hobbyList[this.currentIndex] = $event;
      }
  },
  created(){
      
      this.$http.get('https://hobbs-app-backend.herokuapp.com/hobby/selectAll?userID=' + this.$session.get("userID"))
        .then(response => {
            return response;
        })
        .then(data => {
            this.hobbyList = data.body;
            console.log(this.hobbyList);
        });
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
    body{
        background-image: '';
    }
    #adminNewUser{
        margin-top: 15px;
        background-color: #420dc3;
        color: white;
    }
</style>

<style src="../assets/css/bootstrap.min.css" scoped> </style>
<style src="../assets/css/main.css" scoped> </style>