<template>
    <div class="container card">
        <div class="sub-container">
            <h1 class="main-heading">HOBBS</h1>
        </div>
        <div class="sub-container">
            <div>                
                <div class="card-body">
                    
                    <form class="form-horizontal">
                        <div id="responseMessage">
                             <div class="alert alert-danger" id="alertMessage" v-if="showAlertMessage" style="text-align:center;">
                                {{alertMessage}}
                            </div>
                        </div>
                        <div id="LoginMessage">
                             <div class="alert alert-success" id="alertMessage" v-if="showLoginMessage" style="text-align:center;">
                                {{loginMessage}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <input type="email" class="form-control" id="email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" placeholder="Email Address" v-model.lazy="loginData.username">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <input type="password" class="form-control" id="password" placeholder="Password" v-model.lazy="loginData.password">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <a type="button" id="loginBtn" class="btn form-control" @click.prevent="login">Login</a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-check">
                                    <label>
                                        <span style='color: #000633'>No account?</span>
                                    </label>
        
                                    <label>
                                        <span class="redirect-link"><router-link to="SignUp">Sign up</router-link></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</template>

<script>
export default {
  name: 'Login',
  data () {
    return {
      showAlertMessage: false,
      alertMessage:'',
      loginData: {
        username: '',
        password:''
      },
      loginMessage: '',
      showLoginMessage: false
    }
  },
  methods: {
      login(){
          this.loginMessage = 'Logging in';
          this.showLoginMessage = true;
          this.showAlertMessage = false;
          this.$http.post('https://hobbs-app-backend.herokuapp.com/user/signin', this.loginData)
            .then(response => {
                if (response.status == 200 && response.body.successful){
                    this.$session.set("userID", response.body.id);
                    //this.$router.push('/index');
                    window.location.href = 'index'
                }
                else{
                    this.showLoginMessage = false;
                    this.alertMessage = response.body.message;
                    this.showAlertMessage = true;
                }

            }, error => {
                console.log(error);
            });
      }
  }
}
</script>

<style>
    body {
        background-color: #f5f5f5;
    }
</style>
<style src="../assets/css/bootstrap.min.css" scoped> </style>
<style src="../assets/css/login.css" scoped> </style>