<template>
  <div class="hello">
    <div id="modal-template">
        <transition name="modal">
            <div class="modal-mask">
                <div class="modal-wrapper">
                    <div class="modal-container">

                    <div class="modal-header text-center">
                        <slot name="header">
                        <h3>{{modalHeader}}</h3>
                        </slot>
                    </div>

                    <div class="modal-body">
                        <div class="row" v-if="showAddDiv">
                            <div class="col-md-12">
                                <input type="text" v-model.lazy="newHobby" class="form-control" placeholder="New Hobby">
                            </div>
                            <div class="col-md-12">
                                <p style="color: red" v-if = 'showAddHobbyWarning'>Please enter a Hobby</p>
                            </div>
                            <br>
                            <div class="col-md-12">
                                <button @click="addHobby" class="btn btn-primary">Add Hobby</button>
                                <button @click="$emit('close')" class="btn btn-danger">
                                    Cancel
                                </button>
                            </div>
                            
                        </div>
                        <div class="row" v-if="showEditDiv">
                            <div class="col-md-12">
                                <input type="text" v-model.lazy="editedHobby" class="form-control" placeholder="Enter the new name for this Hobby">
                            </div>
                            <div class="col-md-12">
                                <p style="color: red" v-if = 'showEditHobbyWarning'>Please enter a Hobby</p>
                            </div>
                            <br>
                            <div class="col-md-12">
                                <button class="btn btn-primary" @click="updateHobby">Edit Hobby</button>
                                <button @click="$emit('close')" class="btn btn-danger">
                                    Cancel
                                </button>
                            </div>
                        </div>
                        <div class="row" v-if="showDeleteDiv">
                            <p>Are you sure you want to delete this hobby?</p>
                            <div class="col-md-12">
                                <button class="btn btn-primary" @click="deleteHobby">Yes</button>
                                <button @click="$emit('close')" class="btn btn-danger">No</button>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <slot name="footer">
                        </slot>
                    </div>
                </div>
            </div>
            </div>
        </transition>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Modal',
  props: {
    modalHeader: String,
    showAddDiv: {
        type: Boolean,
        required: true
    },
    showEditDiv: {
        type: Boolean,
        required: true
    },
    showDeleteDiv: {
        type: Boolean,
        required: true
    },
    currentHobbyID: String
    
  },
  data () {
    return {
      newHobby:'',
      editedHobby: '',
      showAddHobbyWarning: false,
      showEditHobbyWarning: false
    }
  },
  methods: {
      addHobby(){
          if (this.newHobby == ''){
              this.showAddHobbyWarning = true;
              return;
          }

          var hobbyData = {
              name: this.newHobby,
              userID: this.$session.get('userID')
          }
          this.$http.post('https://hobbs-app-backend.herokuapp.com/hobby/insert', hobbyData)
            .then(response => {
                this.$emit('hobbyWasAdded', response.body);
                this.$emit('close');
            });
      },
      updateHobby(){
          if (this.editedHobby == ''){
              this.showEditHobbyWarning = true;
              return;
          }
          var editData = {
              'id': this.currentHobbyID,
              'userID': this.$session.get('userID'),
              'name': this.editedHobby
          }
          this.$http.post('https://hobbs-app-backend.herokuapp.com/hobby/edit', editData)
            .then(response => {
                console.log(response.body);
                this.$emit('hobbyWasEdited', response.body);
                this.$emit('close');
            });
      },
      deleteHobby(){
          var deleteData = {
              'id': this.currentHobbyID,
              'userID': this.$session.get('userID')
              }
          this.$http.post('https://hobbs-app-backend.herokuapp.com/hobby/delete', deleteData)
            .then(response => {
                this.$emit('hobbyWasDeleted');
                this.$emit('close');
            });
      }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
    .modal-mask {
        position: fixed;
        z-index: 9998;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .5);
        display: table;
        transition: opacity .3s ease;
    }

    .modal-wrapper {
        display: table-cell;
        vertical-align: middle;
    }

    .modal-container {
        width: 400px;
        margin: 0px auto;
        padding: 20px 30px;
        background-color: #fff;
        border-radius: 2px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
        transition: all .3s ease;
        font-family: Helvetica, Arial, sans-serif;
    }

    .modal-header h3 {
        margin-top: 0;
        color: navy;
        font-weight: bold;
    }

    .modal-body {
        margin: 20px 0;
    }

    .modal-default-button {
        float: right;
    }

    /*
    * The following styles are auto-applied to elements with
    * transition="modal" when their visibility is toggled
    * by Vue.js.
    *
    * You can easily play with the modal transition by editing
    * these styles.
    */

    .modal-enter {
        opacity: 0;
    }

    .modal-leave-active {
        opacity: 0;
    }

    .modal-enter .modal-container,
    .modal-leave-active .modal-container {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
</style>

<style src="../assets/css/bootstrap.min.css" scoped> </style>
