<template>
    <div id='profilePage'>
        <navbarHeader></navbarHeader>
        <div class="sub-content">
            <div class = "row" v-if="!showProfile">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <div>
                        <div class="card-body">
                            <h4 class="card-header">Edit Profile</h4>
                            <form class="form-horizontal" id="registerForm">

                                <div id="responseMessage">
                                    <div class="alert alert-danger" id="alertMessage" v-if="showAlertMessage" style="text-align:center;">
                                        {{alertMessage}}
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-4">
                                        <label for="firstname">First Name:</label>
                                    </div>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control" placeholder="First Name" v-model.lazy="userData.firstName">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <label for="firstname">Last Name:</label>
                                    </div>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control" placeholder="Last Name" v-model.lazy="userData.lastName">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <label for="firstname">Email:</label>
                                    </div>
                                    <div class="col-md-8">
                                        <input type="email" class="form-control" placeholder="Email" v-model.lazy="userData.email">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <label for="firstname">Phone Number:</label>
                                    </div>
                                    <div class="col-md-8">
                                        <input type="tel" class="form-control" placeholder="Phone Number" v-model.lazy="userData.phoneNum">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <label for="firstname">Password:</label>
                                    </div>
                                    <div class="col-md-8">                                
                                        <input type="password" class="form-control" placeholder="Password" v-model.lazy="userData.password">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <label for="firstname">Confirm Password:</label>
                                    </div>
                                    <div class="col-md-8">                                
                                        <input type="password" class="form-control" placeholder="Confirm Password" v-model.lazy="confirmPassword">
                                    </div>
                                </div>
                                
                                <div class="row">
                                    <div class="col-md-3"></div>
                                    <div class="col-md-6">
                                        <button type="button" class="btn form-control registrationBtn" @click.prevent="saveChanges">Save Changes</button>
                                        <button type="button" class="btn form-control registrationBtn" style="background-color:red" @click="showProfile = true">Cancel</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-3"></div>
            </div>
            <div class="row" v-if='showProfile'>
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <div>
                        <div class="card-body">
                            <form class="form-horizontal">
                                <div>
                                    <div class="alert alert-success" v-if="showAlertMessageAfterEdit" style="text-align:center;">
                                        {{alertMessageAfterEdit}}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 profileAttribute text-left">
                                        <label for="firstname">First Name:</label> <span>{{userData.firstName}}</span>
                                    </div>                                    
                                    <div class="col-md-6 profileAttribute text-left">
                                        <label for="lastname">Last Name:</label> <span>{{userData.lastName}}</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 profileAttribute text-left">
                                        <label for="userEmail">Email: </label> <span>{{userData.email}}</span>
                                    </div>
                                    <br>
                                    <div class="col-md-6 profileAttribute text-left">
                                        <label for="phoneNumber">Phone Number: </label> <span>{{userData.phoneNum}}</span>
                                    </div>
                                    <br>
                                </div>
                                <div class="row text-center">
                                    <div class="col-md-4"></div>
                                    <div class="col-md-4">
                                        <button type="button" class="btn outline-btn form-control registrationBtn" @click='showProfile = false'>Edit</button>
                                    </div>
                                    <div class="col-md-4"></div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-3"></div>
            </div>
            
        </div>
    </div>
    
</template>

<script>
import Header from "./Header.vue"
export default {
  name: 'Profile',
  components: {
      "navbarHeader": Header
  },
  data(){
      return{
          userData: {
              firstName: '',
              lastName: '',
              email: '',
              password: '',
              phoneNum: ''
          },
          showAlertMessage: false,
          alertMessage: '',
          confirmPassword: '',
          showProfile:true,
          showAlertMessageAfterEdit: false,
          alertMessageAfterEdit: ''
      }
  },
  created(){
      this.$http.get('https://hobbs-app-backend.herokuapp.com/user/find/' + this.$session.get("userID"))
        .then(response => {
            return response;
        })
        .then(data => {
            this.userData.firstName = data.body.firstName;
            this.userData.lastName = data.body.lastName;
            this.userData.email = data.body.email;
            this.userData.phoneNum = data.body.phoneNum;
        });
  },
  methods: {
      saveChanges(){
          for (var key in this.userData){
              if(this.userData[key] == ''){
                  this.alertMessage = 'Please fill all the fields';
                  this.showAlertMessage = true;
                  return;
              }
          }

          if (this.confirmPassword != this.userData.password){
              this.alertMessage = 'Password and Confirm Password fields must be the same';
              this.showAlertMessage = true;
              return;
          }

          var patt = /\+234\d{10}$/;
          this.userData.phoneNum = this.userData.phoneNum.replace(/ /g, '');
          if (!patt.test(this.userData.phoneNum)){
              this.alertMessage = 'Incorrect Phone Number pattern! Must be entered as +234XXXXXXXXXX';
              this.showAlertMessage = true;
              return;
          }
          
          this.$http.put('https://hobbs-app-backend.herokuapp.com/user/update/'+ this.$session.get("userID"), this.userData)
                .then(response => {
                    if (response.status == 200){
                        this.alertMessageAfterEdit = "Changes saved successfully";
                        this.showProfile = true;
                        this.showAlertMessageAfterEdit = true;
                    }
                    else{
                        this.alertMessage = response.body.message;
                        this.showAlertMessage = true;
                    }
                });
      }
  }
  
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
    body {
        background-color: #f5f5f5;
    }

    #profilePage input[type="text"], input[type="email"], input[type="tel"], select, input[type="password"]{
        background-color: #f5f5f5;
        border: 1px solid #212529;
    }

    #profilePage .btn{
        background-color: navy;
        color: white;
        margin-bottom: 7px;
        margin-top: 5px;
    }

    #profilePage .profileAttribute{
        padding-bottom: 10px;
    }

    #profilePage .profileAttribute span{
        font-weight: bold;
    }

    #profilePage .card-body{
        border: 1px solid #212529
    }

    #profilePage #registerForm label{
        padding-top: 10px;
    }

    #profilePage .card-header{
        margin-bottom: 20px;
        background-color: navy;
        color: white;
    }
</style>

<style src="../assets/css/bootstrap.min.css" scoped> </style>
<style src="../assets/css/main.css" scoped> </style>