<template>
    <div class="container card">
        <div class="sub-container">
            <h1 class="main-heading">HOBBS</h1>
        </div>
        <div class="sub-container">
            <div>
                <h4 class="card-header">New Account</h4>
                <div class="card-body">
                    <form class="form-horizontal" id="registerForm">

                        <div id="responseMessage">
                             <div class="alert alert-danger" id="alertMessage" v-if="showAlertMessage" style="text-align:center;">
                                {{alertMessage}}
                            </div>
                        </div>
                        <div id="RegisterMessage">
                             <div class="alert alert-success" id="alertMessage" v-if="showRegisterMessage" style="text-align:center;">
                                {{registerMessage}}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <input type="text" class="form-control" placeholder="First Name" v-model.lazy="userData.firstName">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <input type="text" class="form-control" placeholder="Last Name" v-model.lazy="userData.lastName">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <input type="email" class="form-control" placeholder="Email" v-model.lazy="userData.email">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <input type="tel" class="form-control" placeholder="Phone Number eg +234 815 253 5252" v-model.lazy="userData.phoneNum">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">                                
                                <input type="password" class="form-control" placeholder="Password" v-model.lazy="userData.password">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">                                
                                <input type="password" class="form-control" placeholder="Confirm Password" v-model.lazy="confirmPassword">
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-md-12">
                                <a type="button" class="btn form-control" id="registrationBtn" @click.prevent="Register">Register</a>
                            </div>
                        </div>
                        <div class="row text-center">
                            <div class="col-md-12 prompt">
                                <label>
                                    <span style='color: #000633'>Already have an account?</span>
                                </label>
                                <label>
                                    <span class="redirect-link">
                                        <router-link to="Login">Log in</router-link>
                                    </span>
                                </label>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
  name: 'SignUp',
  data () {
    return {
      showAlertMessage: false,
      alertMessage:'',
      userData: {
          email: '',
          password: '', 
          firstName: '',
          lastName: '',
          phoneNum: ''
      },
      confirmPassword: '',
      registerMessage: '',
      showRegisterMessage: false
    }
  },
  methods: {
      Register(){
          this.showAlertMessage = false;
          for (var key in this.userData){
              if(this.userData[key] == ''){
                  this.alertMessage = 'Please fill all the fields';
                  this.showAlertMessage = true;
                  return;
              }
          }

          if (this.confirmPassword != this.userData.password){
              this.alertMessage = 'Password and Confirm Password fields must be the same';
              this.showAlertMessage = true;
              return;
          }
          
          var patt = /\+234\d{10}$/;
          this.userData.phoneNum = this.userData.phoneNum.replace(/ /g, '');
          if (!patt.test(this.userData.phoneNum)){
              this.alertMessage = 'Incorrect Phone Number pattern! Must be entered as +234XXXXXXXXXX';
              this.showAlertMessage = true;
              return;
          }

          this.registerMessage = 'Creating Account';
          this.showRegisterMessage = true;

          this.$http.post('https://hobbs-app-backend.herokuapp.com/user/signup', this.userData)
                .then(response => {
                    if (response.status == 200 && response.body.successful){
                        this.$session.set("userID", response.body.id);
                        //this.$router.push('/index');
                        window.location.href = 'index'
                    }
                    else{
                        this.alertMessage = response.body.message;
                        this.showAlertMessage = true;
                        this.showRegisterMessage = false;
                    }
                });

      }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
    body {
        background-color: #f5f5f5;
    }
</style>
<style src="../assets/css/bootstrap.min.css" scoped> </style>
<style src="../assets/css/login.css" scoped> </style>